html {
  overflow: auto;
}

@font-face {
  font-family: "MyFont";
  src: local("MyFont"), url(./fonts/Strawford-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: MyFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: MyFont;
}
