.logo-main {
  width: 195px;
  height: 20px;
}

.navbar-component {
  background: #1a0d3680;
  position: fixed;
  z-index: 99;
  width: 100%;
  transition: 0.3s all ease-in-out;
}

.navscroll {
  background: #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.212);
}

.flex-nav {
  max-width: 1350px;
  margin: 0 auto;
  padding: 1rem 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left-nav {
    display: flex;
    align-items: center;
  }

  .nav-link {
    margin: 0 0 0 3rem;
    font-size: 18px;
    font-weight: bold;
    color: #414246;
    color: #fff;
    text-decoration: none;
  }

  .links-color {
    color: #414246;
  }

  .get-started-btn {
    background: #9ee5d9;
    color: #414246;
    padding: 10.5px 26px 9.5px;

    min-width: 120px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50rem;
    box-shadow: 0 1px 1px #4142464d;
    text-decoration: none;
  }

  .mobile-nav {
    display: none;

    .hamburger {
      color: #fff;
      opacity: 0.7;
      font-size: 1.5rem;
    }

    .exit-menu {
      color: #fff;
      opacity: 0.7;
      font-size: 1.5rem;
    }

    .no-show {
      display: none;
    }

    .hamburger-color {
      color: #7352ba;
    }

    .mobile-nav-container {
      background-color: #3f2971;
      height: 100vh;
      position: absolute;
      top: 57px;
      right: 0;
      width: 100%;

      .mobile-nav-links {
        background-color: #3f2971;
        position: absolute;
        width: 100%;
        display: grid;

        .nav-link-mobile {
          font-size: 18px;
          font-weight: bold;
          color: #fff;
          text-decoration: none;
          display: block;
          padding: 20px 16px;
          // margin: 0 0 0 1rem;
        }

        .get-started-btn-mobile {
          background: #9ee5d9;
          color: #414246;
          padding: 10.5px 26px 9.5px;
          margin: 17px 0 17px 1rem;
          max-width: 120px;
          width: fit-content;
          font-size: 18px;
          font-weight: bold;
          border-radius: 50rem;
          box-shadow: 0 1px 1px #4142464d;
          text-decoration: none;
        }
      }
    }
  }

  @media (max-width: 1246px) {
    .nav-link {
      display: none;
    }

    .get-started-btn {
      display: none;
    }

    .mobile-nav {
      display: block;
    }
  }
}

@media (max-width: 1246px) {
  .flex-nav {
    padding: 1rem 1.25rem;
  }
}
